<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
    <div class="one_max">
        <div class="title">
            <a href={% url 'index' %} ><img src="/static/image/result.png"></a>
            
        </div>


        <div class="body">
            <div class="from">
                <form action="/user/" method="post">
                    用户名:<input name="username" type="text" placeholder="请输入你的用户名"><br>
                    密 码:<input name="password" type="password" placeholder="请输入密码"><br>
                    <input name="submit" type="submit" value="提交">
                    <span>{{ password }}</span>
                    <span>{{ usererror }}</span>
                </form>
            </div>

        </div>
    </div>

</body>

</html>